# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Logs
logs/
*.log

# Environment files
.env
.env.*

# macOS
.DS_Store

# IDE
.idea/
.vscode/

